@import url(https://fonts.googleapis.com/css?family=Raleway);

.box{
    width: 20%;
    max-height: 80%;
    overflow-y: auto;
    margin-left: 1px;

    position: sticky;
    top: 10%;

}

.document{
    width: 100%;
    height: 40px;
    background-color: white;
    cursor: pointer;
}

.document:active {
    background-color: rgb(128, 128, 128);
}

.header1 {
    width: 100%;
    height: 40px;
    background-color: red;
    padding-left: 2%;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 10px;
    color: white;
    justify-content: space-between;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header1Text {
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */
    font-size: 115%;
}

.header1Text:active{
    background-color: darkred;
}

html {
    overflow-y: scroll;
}

.searchField {
    border: none;
    border-radius: 6px;
    padding-top: 2px;
    padding-bottom: 4px;
}

.searchField:focus {
    outline: none;
}

.list-choice{
    position: relative;
    cursor: pointer;
    width: 100px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
}
.list-choice input[type="radio"]{
    position:absolute;
    left:-9999px;
}

.list-choice-title {
    width: 100%;
    display: block;
    box-sizing: border-box;
    color: #FFF;
    text-shadow: 0 1px 0 #CACACA;
    border-radius: 0.2em;
}
.list-choice:hover .list-choice-title {
    border-radius:0.2em 0.2em 0 0;
}
.list-choice-objects label:nth-last-of-type(1) span{
    border-radius:0 0 0.2em 0.2em;
}
.list-choice input[type="radio"] + span {
    color: #FFF;
    background: red;
    padding: 0.55em 1em;
    display: block;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
}
.list-choice-objects {
    position: absolute;
    top: 0;
    padding-top: 2.1em;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    transition: all 250ms ease;
}
.list-choice:hover .list-choice-objects  input[type="radio"] + span {
    position: relative;
    top: 0;
    transition: all 250ms ease-in-out;
}
.list-choice:hover input[type="radio"] + span:hover {
    background:darkred;
}

.list-choice:hover input[type="radio"]:checked + span {
    border-radius: 0;
}
.list-choice:hover .list-choice-objects label:nth-last-of-type(1) input[type="radio"]:checked + span{
    border-radius:0 0 0.2em 0.2em;
}

.list-choice:hover .list-choice-objects {
    max-height: 540px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.hrefStyle {
    overflow: hidden;
    text-overflow: ellipsis;
}

.hrefStyle-hyphens {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

.table-custom {
    max-height: 100%;
}

.table-header {
    font-weight: bold;
}

.searchMenu {
    background: red;
    width: 196px;
    position: fixed;
    top: 40px;
}

.container-table {
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    overflow: scroll;
}

.update-field {
    width: 100%;
    padding: 0;
}

.update-button {
    background-color: cornflowerblue;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    width: 100%;
}

.confirm-button {
    background-color: chartreuse;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    width: 100%;
}

.cancel-button {
    background-color: orangered;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    margin-top: 6px;
    width: 100%;
}

.add-button {
    background-color: chartreuse;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    width: 100%;
}

.add-form {
    height: 33px;
}

.delete-button {
    background-color: orangered;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    width: 100%;
    margin-top: 2px;
}

